@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto"; /* add fallback fonts */
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #1f2937;
  min-height: 600px;
  padding: 20px 150px;
  gap: 150px;
}

.hero-header {
  display: flex;
  justify-content: space-between;
}

.hero-header h2 {
  color: #f9faf8;
  font-size: 24px;
}

.hero-header-links {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.hero-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hero-content h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.hero-content img {
  width: 400px;
  display: flex;
}

.hero-content-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}

.hero-content-container .text {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-button {
  display: flex;
}

.hero-button button {
  background-color: #3882f6;
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 5px 20px;
}

/* Information Section */
.information {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  min-height: 600px;
  padding: 20px 150px;
  gap: 50px;
}

.information h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  padding-top: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.card img {
  width: 200px;
  height: 200px;
}

.card .text {
  text-align: center;
  font-size: 18px;
  color: gray;
}

/* Quote Section */
.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  min-height: 600px;
  padding: 20px 200px;
}

.quote .text {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
}

.quote .quote-author {
  align-self: flex-end;
  font-size: 25px;
  font-weight: 900;
}

/* CTA section */
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  padding: 20px 150px;
}

.cta-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  border-radius: 5px;
  color: white;
  min-width: 900px;
  padding: 50px 100px;
}

.cta-content-container {
  display: flex;
  flex-flow: column wrap;
}

.cta-content-container h5 {
  font-size: 19px;
}

.cta-content-container .text {
  font-size: 15px;
  font-weight: 0;
}
.cta-button button {
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  font-weight: 700;
  padding: 5px 25px;
}
